{%  extends 'exercisegamification/base.html' %}
{% block content %}
<div class = "container">
    <body>
    <h1>{{ goal.title }}</h1>
    <p>{{ goal.goal_text }}</p>
    <p>Created: {{ goal.pub_date }}</p>
    <p>Target Reach Date: {{ goal.reach_date }}</p>
    <p>Accomplished?
        {% if goal.accomplished == True %}
            Yes!
            {% else %}
            In progress!
        {% endif %}
    </p>
    <a href = "{% url 'edit goal' goal.pk%}" class = "btn btn-outline-info"> Edit </a><br/><br/>
    <a href = "{% url 'goals list' %}" class = "btn btn-outline-info"> Back to All Goals </a>
    </body>
    </div>
{% endblock %}