{%  extends 'exercisegamification/base.html' %}
{% block content %}
<div class = "container">
    <body>
    <h1>{{ goal.title }}</h1>
    <p>{{ goal.goal_text }}</p>
    <p>Created: {{ goal.pub_date }}</p>
    <p>Target Reach Date: {{ goal.reach_date }}</p>
    <p>
        {% if goal.accomplished == True %}
            Accomplished
            {% else %}
            In progress
        {% endif %}
    </p>
    {% if user == profile.user %}
    <a href = "{% url 'edit goal' goal.pk%}" class = "btn btn-outline-info"> Edit </a>
    <a href = "{% url 'delete goal' goal.pk%}" class = "btn btn-outline-info"> Delete </a><br/><br/>
    {% endif %}

    <a href = "{% url 'profile' %}" class = "btn btn-outline-info"> Back to Profile </a>
    </body>
    </div>
{% endblock %}
