{% extends "exercisegamification/base.html" %}
{% load socialaccount %}
{% block content %}
{% if user.is_authenticated %}
<div class = "container">
    <h1>Welcome {{profile.first_name}}</h1>
    {% if friends|length == 0 %}
    <p> Add friends to see their recent activity on your feed!</p>
    {% else %}
    <h2>Here are your friends' recent activities</h2>
    {% for workout in workouts %}
    <div class = "card">
        <div class = "card-body">
    <p> {{workout.author.user.username}} completed {{workout.workout_title}} for {{workout.points}} points on {{workout.date}}</p>


        </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
    {% else %}
    <h1>Get Started with Exercise Gamification</h1>
    <a href="{%  provider_login_url 'google' %}">Login with Google</a>
{% endif %}
{% endblock %}
