{% extends "exercisegamification/base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'exercisegamification/workout.css' %}" rel="stylesheet">
<div class = "container">
<h1 style="padding-bottom: 2.5%">Our Workouts</h1>
    <h3> Log your completed workout to earn points!</h3>


    {% for workout in workouts_list %}
    <div class="card mb-3" style="width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{workout.pic.url}}" class="square" width="200" height = "100%">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{ workout.workout_title }}</h5>
        <p class="card-text">{{ workout.workout_description}}</p>
        <a href="{% url 'add workout' workout.pk%}" class = "stretched-link">Log Workout</a>
      </div>
    </div>
  </div>
</div>

    {% endfor %}
<br>

</div>
{% endblock %}
