{%  extends 'exercisegamification/base.html' %}
{% block content %}
<div class = "container">
    <body>
    <h1>{{ workout.workout_title }}</h1>
    <p>{{ workout.workout_type }}</p>
    <p>Description: {{ workout.workout_description }}</p>
    <p>Points: {{ workout.points}}</p>

     <div class="'form-group">
        <form method="POST">
            {% csrf_token %}
            {{ req_form.as_p }}
            <button type="submit" class = "btn btn-outline-info">I've Completed This Workout</button>
        </form>
     </div>
     </br>
    <a href = "{% url 'profile' %}" class = "btn btn-outline-info"> Back to Profile</a>
    </body>
</div>
{% endblock %}